@model List<BuyOnline.Models.Product>

@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<div id="middle" style="left:50px ; top:50px">
    @{var url = HttpContext.Current.Request.Url.AbsoluteUri;}
    @for (var i = 0; i < Model.Count(); i++)
    {
        var id = Model[i].Id;
        var image = Model[i].Image;
        <div style="display: inline-block">
            <div>
                <a href="@Url.Action("Details", "CustomerProduct", new { id = id })"><img src="~/Image/@image" width="150" height="150" /></a>
            </div>
            <div>
                @Model[i].Title
                <div>
                    Unit Price: @Model[i].UnitPrice
                </div>
            </div>
            <div>
                @Html.ActionLink("Add To Cart", "../Cart/Increment", new { id = Model[i].Id, pid = Model[i].Id, unitprice = Model[i].UnitPrice, title = Model[i].Title, ur = url }, new { @class = "addtocart" })
            </div>
        </div>
        if (i % 7 == 6)
        {
            <br />
        }
    }
</div>
