
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<table align="center">
    <tr>
        <td><h1>Thank You For Shopping With Us.......</h1></td>
    </tr>
</table>

