
@{
    ViewBag.Title = "SignedUp";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div id="middlediv">
    <h2>Congratulations!You are a Registered Customer Now!</h2>

    <a href="~/CustomerLogin/Login">Go To Login</a>
</div>

