
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<table align="center">
    <tr>
        <td colspan="2" align="center"><h2>Your Promotion</h2></td>
    </tr>
    <tr>
        <td>You are Enjoing @TempData["customerdiscountrate"]% Discount</td>
    </tr>
</table>


